<html>
  <head>
    <title> Recent Scores</title>
    <link rel="stylesheet" href="/resources/answers.css">
  </head>

  <body>
    <!-- Marvel Quiz Board -->
    <div id = "logo">
      <a href= "/"><img src="resources/PicsArt.png" width="50" height="50"/></a>
    </div>

    <h1 id = "scores"> Quiz Answers! </h1>
      <div id = "parent">
        <div id = "sectionMarvel">
          <p id = "top10M"> <br> Answers for the Marvel Quiz!</p>
          <div id = "usersM">
            <p>1. The Chameleon</p>
            <p>2. Richard and Mary Parker</p>
            <p>3. Luke Cage</p>
            <p>4. Natalia Romanova</p>
            <p>5. Wolverine’s clone</p>
            <p>6. The Wasp</p>
            <p>7. Mjölnir</p>
            <p>8. Spiderman</p>
            <p>9. The Avengers</p>
            <p>10. King of the Dead (Necropolis)</p>
          </div>
        </div>
        <!-- GOT Quiz Board -->
        <div id = "sectionGOT">
          <p id = "top10G"> <br> Answers for the Game of Thrones Quiz!</p>
          <div id = "usersG">
            <p>1. Poisoned</p>
            <p>2. “pays his debts”</p>
            <p>3. Needle</p>
            <p>4. “All men must die”</p>
            <p>5. Reek</p>
            <p>6. King Robb Stark</p>
            <p>7. Princess Shireen Baratheon</p>
            <p>8. The Army of the Dead</p>
            <p>9. Jon Snow</p>
            <p>10. Dragons</p>
          </div>
        </div>
        <!-- Harry Potter Quiz Board -->
        <div id = "sectionHarry">
          <p id = "top10H"> <br> Answers for the Harry Potter Quiz!</p>
          <div id = "usersH">
            <p>1. Peeves</p>
            <p>2. A Wand, A Stone, and A Cloak</p>
            <p>3. Severus Snape</p>
            <p>4. Tom Marvolo Riddle</p>
            <p>5. The Second FLoor Bathroom</p>
            <p>6. Severus Snape</p>
            <p>7. Sybil Trelawney</p>
            <p>8. 7</p>
            <p>9. Narcissa Malfoy</p>
            <p>10. Peter Pettigrew</p>
          </div>
        </div>

        <!-- Avatar Quiz Board -->
        <div id = "sectionAvatar">
          <p id = "top10H"> <br> Recent quiz takers for Avatar! </p>
          <div id = "users">
            <p>1. 100 years</p>
            <p>2. an Owl</p>
            <p>3. She Turns into a Fish</p>
            <p>4. She poisons the Fire Lord</p>
            <p>5. A Meteorite</p>
            <p>6. Sokka</p>
            <p>7. Katara’s healing water</p>
            <p>8. The Dragon of the West</p>
            <p>9. The Gondola</p>
            <p>10. Take His Powers</p>
          </div>
        </div>

      </div>

  </body>
</html>
