<html>
  <head>
    <link rel= "stylesheet" href ="resources/creators.css">
  </head>
  <body>
    <h1>About us! </h1>

    <div id = "logo">
      <a href= "/"><img src="resources/PicsArt.png" width="50" height="50"/></a>
    </div>

    <div id = "grandparent">

      <div id = "AlbertParent">
        <h2 id = "AlbertHeader">Albert Felix</h1>
        <a id = "AlbertPicture" href= "/"><img src="resources/Albert.jpg" width="250" height="250"/></a>
        <p id = "AlbertBio">My name is Albert, and I am an immigrant from the Dominican Republic. I live in
          upper Manhattan, and will be majoring in Computer Science at the Macaulay Honors Program at City College.
          I've been into coding ever since taking AP Computer Science. I was the programmer of the robotics team of my school,
          and we got to the regional championships in the FIRST Tech Challenge!
          I also love reading, photographying with my Polaroid, watching Game of Thrones, and trying out new foods. </p>
      </div>

      <div id = "NickParent">
        <h2 id = "NickHeader">Nicholas Gomez</h1>
        <a id = "NickPicture" href= "/"><img src="resources/Nick.jpg" width="250" height="250"/></a>
        <p id = "NickBio">My name is Nicholas. I live in Jersey even though I was born in NY. I will be attending the University of Pennsylvania.
        I am majoring in Computer Engineering but that may switch to Computer Science. Outside of the academic world, I do many activities. I play
        soccer, basketball and ultimate frisbee. I love eating and cooking and I just generally love food. I listen to a lot of rap but i like to
        listen to anything i can vibe with.  I also am currently planning to create a Smart Mirror as a fun project.﻿</p>
      </div>

      <div id = "AshaParent">
        <h2 id = "AshaHeader">Asha Battles</h1>
        <a id = "AshaPicture" href= "/"><img src="resources/Asha.jpg" width="250" height="250"/></a>
        <p id = "AshaBio">My name is Asha Harris-Battles. I included my full name to clear up future
          confusion as I like to mix and match my names on my social media pages. Otherwise I'm actually a
          very simple person, quiet and calm. I love the internet and my phone with a passion and I believe
          my love for coding and computer engineering really stems from my early exposure to technology as a
          child in this era where almost everything is run by computers. </p>
      </div>

    </div>

  </body>
</html
