<html>
<head>
  <title> Avengers Quiz </title>
  <link rel="stylesheet" href="/resources/quizAvatar.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Marvel" /><link rel='stylesheet' href='//fonts.googleapis.com/css?family=Marvel' type='text/css' />
</head>

<body>
  <div id = "parent">
    <div id = "logo">
      <a href= "/"><img src="resources/PicsArt.png" width="50" height="50"/></a>
    </div>
    <h1> Avatar Quiz </h1>
  </div>

    <form id = "inside_text" method="post">
    <h2>1. How long was Aang trapped for in an iceberg?</h2>
      <p>
        <input type="radio" name="q1A" value="vulture">1,000 years<BR>
        <input type="radio" name="q1A" value="dr.octopus">10,000 years<BR>
        <input type="radio" name="q1A" value="answer">100 years<BR>
        <input type="radio" name="q1A" value="chameleon">50 years<BR>
      </p>

    <h2>2. What animal watched over Wan Shi Tong's library?</h2>
      <p>
        <input type="radio" name="q2A" value="answer">An owl<BR>
        <input type="radio" name="q2A" value="parents">A fox<BR>
        <input type="radio" name="q2A" value="aa">A turtle<BR>
        <input type="radio" name="q2A" value="sb">An elephant<BR>
      </p>

    <h2>3. How did Yue 'die'?</h2>
      <p>
        <input type="radio" name="q3A" value="luke">Azula kills her<BR>
        <input type="radio" name="q3A" value="dare">Zuko kills her<BR>
        <input type="radio" name="q3A" value="answer">She turns into a fish<BR>
        <input type="radio" name="q3A" value="ca">Commmander Zhao kills her<BR>
      </p>
    <h2>4. Why was Zuko and Azula's mother banished?</h2>
      <p>
        <input type="radio" name="q4A" value="real">She attemps to kill Zuko <BR>
        <input type="radio" name="q4A" value="answer">She poisons the Fire lord<BR>
        <input type="radio" name="q4A" value="nope">She betrays the Fire Nation's secrets<BR>
        <input type="radio" name="q4A" value="no">She has an affair<BR>
      </p>

    <h2>5. What is Sokka's Sword made of?</h2>
      <p>
        <input type="radio" name="q5A" value="rj">Anodized aluminum<BR>
        <input type="radio" name="q5A" value="parents">Pure titanium<BR>
        <input type="radio" name="q5A" value="clone">Damascus steel<BR>
        <input type="radio" name="q5A" value="answer">A meteorite<BR>
      </p>

    <h2>6. Who designed the Fire Nation's airships?</h2>
      <p>
        <input type="radio" name="q6A" value="answer">Sokka<BR>
        <input type="radio" name="q6A" value="sm">Zuko<BR>
        <input type="radio" name="q6A" value="ca">Firelord Ozai<BR>
        <input type="radio" name="q6A" value="wasp">Jet<BR>
      </p>
    <h2>7. How is Aang revived after being killed by Azula's lightning?</h2>
      <p>
        <input type="radio" name="q7A" value="r">A healing spring<BR>
        <input type="radio" name="q7A" value="Hammer">Avatar reincarnation<BR>
        <input type="radio" name="q7A" value="answer">Katara's healing water<BR>
        <input type="radio" name="q7A" value="rand">Wan Shi Tong's breath of life<BR>
      </p>

    <h2>8. What is Iro's war nickname?</h2>
      <p>
        <input type="radio" name="q8A" value="spider">Fire Breather<BR>
        <input type="radio" name="q8A" value="answer">The Dragon of the West<BR>
        <input type="radio" name="q8A" value="aa">Lightning Striker<BR>
        <input type="radio" name="q8A" value="sb">White Lotus<BR>
      </p>

    <h2>9. What does Sokka and Zuko use to escape the Boiling Rock?</h2>
      <p>
        <input type="radio" name="q9A" value="luke">The Cooler<BR>
        <input type="radio" name="q9A" value="dar">A stolen Fire Nation airship <BR>
        <input type="radio" name="q9A" value="avengers">A stolen Fire Nation boat<BR>
        <input type="radio" name="q9A" value="answer">The Gondola<BR>
      </p>
    <h2>10. What does Aang do to Firelord Ozai in the last battle</h2>
      <p>
        <input type="radio" name="q10A" value="stuff">Lets him go<BR>
        <input type="radio" name="q10A" value="dead">Lets Zuko kill him<BR>
        <input type="radio" name="q10A" value="answer">Takes his powers<BR>
        <input type="radio" name="q10A" value="ca">Kills him<BR>
      </p>

    <br>

    <input type="submit" value="Send Answers!">
    <input type="reset" value="Clear Answers!">
    <!-- <button type="button" onclick="https://www.youtube.com/watch?v=PQp2a_yunmM" value = "Go back!">Go back! </button> -->

    </form>

    <embed id = "music" src="resources/Credits - Avatar- The Last Airbender Soundtrack.mp3" autostart="true" loop="true">
</body>

</html>
