<html>
<head>
  <title> Marvel Quiz </title>
  <link rel="stylesheet" href="/resources/quizMarvel.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Marvel" /><link rel='stylesheet' href='//fonts.googleapis.com/css?family=Marvel' type='text/css' />
</head>

<body>
  <div id = "parent">
    <div id = "logo">
      <a href= "/"><img src="resources/PicsArt.png" width="50" height="50"/></a>
    </div>
    <h1> Marvel Quiz </h1>
  </div>

    <form id = "inside_text" method="post">

    <h2>1. Who was the very first supervillain Spiderman fought? (Don't think of the movies!)</h2>
      <p>
        <input type="radio" name="q1A" value="vulture">Vulture<BR>
        <input type="radio" name="q1A" value="dr.octopus">Dr. Octopus<BR>
        <input type="radio" name="q1A" value="sandman">The Sandman<BR>
        <input type="radio" name="q1A" value="chameleon">The Chameleon<BR>
      </p>

    <h2>2. Who are Spiderman's parents?</h2>
      <p>
        <input type="radio" name="q2A" value="rj">Robert and Joan Parker<BR>
        <input type="radio" name="q2A" value="parents">Richard and Mary Parker<BR>
        <input type="radio" name="q2A" value="aa">Albert and Asha Parker<BR>
        <input type="radio" name="q2A" value="sb">Steve and Betty Parker<BR>
      </p>

    <h2>3. Who is Iron Fist's biggest known partner?</h2>
      <p>
        <input type="radio" name="q3A" value="luke">Luke Cage<BR>
        <input type="radio" name="q3A" value="dare">Daredevil<BR>
        <input type="radio" name="q3A" value="ds">Doctor Strange<BR>
        <input type="radio" name="q3A" value="ca">Captain America<BR>
      </p>
    <h2>4. What is Black Widow's real name?</h2>
      <p>
        <input type="radio" name="q4A" value="real">Natalia Romanova<BR>
        <input type="radio" name="q4A" value="random">Natalie Romava<BR>
        <input type="radio" name="q4A" value="nope">Alianova<BR>
        <input type="radio" name="q4A" value="no">Albert<BR>
      </p>

    <h2>5. Who or what is x23?</h2>
      <p>
        <input type="radio" name="q5A" value="rj">Deadpool's best friend<BR>
        <input type="radio" name="q5A" value="parents">A wannabe superhero<BR>
        <input type="radio" name="q5A" value="clone">Wolverine's clone<BR>
        <input type="radio" name="q5A" value="sb">Alien creature that copies hero powers<BR>
      </p>

    <h2>6. Who is the Ant-Man's main partner?</h2>
      <p>
        <input type="radio" name="q6A" value="hp">Hank Pym<BR>
        <input type="radio" name="q6A" value="sm">Spiderman<BR>
        <input type="radio" name="q6A" value="ca">Captain America<BR>
        <input type="radio" name="q6A" value="wasp">The Wasp<BR>
      </p>
    <h2>7. Easy Question. What is the name of Thor's hammer? </h2>
      <p>
        <input type="radio" name="q7A" value="r">Ragnarok<BR>
        <input type="radio" name="q7A" value="Hammer">Mjölnir<BR>
        <input type="radio" name="q7A" value="scredriver">Gungnir<BR>
        <input type="radio" name="q7A" value="rand">The Chamele<BR>
      </p>

    <h2>8. Who is Deadpool always trying to be best friends with?</h2>
      <p>
        <input type="radio" name="q8A" value="spider">Spiderman<BR>
        <input type="radio" name="q8A" value="parents">Wolverine<BR>
        <input type="radio" name="q8A" value="aa">Loki<BR>
        <input type="radio" name="q8A" value="sb">Hulk<BR>
      </p>

    <h2>9. What is Marvel's number one box office movie of all time?</h2>
      <p>
        <input type="radio" name="q9A" value="luke">Iron Man 3<BR>
        <input type="radio" name="q9A" value="dar">Captain America: Civil War<BR>
        <input type="radio" name="q9A" value="avengers">The Avengers<BR>
        <input type="radio" name="q9A" value="ca">Spider Man (2002)<BR>
      </p>
    <h2>10. What is one of the titles the Black Panther holds?  </h2>
      <p>
        <input type="radio" name="q10A" value="stuff">King of Rakanda (country)<BR>
        <input type="radio" name="q10A" value="dead">King of the Dead/Necropolis<BR>
        <input type="radio" name="q10A" value="ds">Leader of the Illuminati<BR>
        <input type="radio" name="q10A" value="ca">God of the land<BR>
      </p>

    <br>

    <input type="submit" value="Send Answers!">
    <input type="reset" value="Clear Answers!">
    <!-- <button type="button" onclick="https://www.youtube.com/watch?v=PQp2a_yunmM" value = "Go back!">Go back! </button> -->

    </form>

    <embed id = "music" src="resources/Michael Giacchino - Theme From Spider-Man  Official Spider-Man- Homec.mp3" autostart="true" loop="true">
</body>

</html>
