<html>
<head>
  <title> Game of Thrones Quiz </title>
  <link rel="stylesheet" href="/resources/quizGOT.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Marvel" /><link rel='stylesheet' href='//fonts.googleapis.com/css?family=Marvel' type='text/css' />
</head>

<body>
  <h1> </h1>

  <div id = "parent">
    <div id = "logo">
      <a href= "/"><img src="resources/PicsArt.png" width="50" height="50"/></a>
    </div>
    <h1> Game of Thrones Quiz </h1>
  </div>

  <form id = "inside_text" method="post">

  <h2>1. How did King Joffrey die?</h2>
    <p>
      <input type="radio" name="q1A" value="answer">Poisoned<BR>
      <input type="radio" name="q1A" value="ia1">Stabbed<BR>
      <input type="radio" name="q1A" value="ia2">Drowned<BR>
      <input type="radio" name="q1A" value="ia3">Burned by a dragon<BR>
    </p>

  <h2>2. Complete this phrase: "A Lannister always..." </h2>
    <p>
      <input type="radio" name="q2A" value="ia1">"gets what he wants."<BR>
      <input type="radio" name="q2A" value="ia2">"eats the leftovers."<BR>
      <input type="radio" name="q2A" value="ia3">"murders his enemies."<BR>
      <input type="radio" name="q2A" value="answer">"pays his debts."<BR>
    </p>

  <h2>3. What is the name of Arya Stark's sword? </h2>
    <p>
      <input type="radio" name="q3A" value="answer">Needle<BR>
      <input type="radio" name="q3A" value="ia1">Oathkeeper<BR>
      <input type="radio" name="q3A" value="ia2">Thunderstorm<BR>
      <input type="radio" name="q3A" value="ia3">Invincible<BR>
    </p>
  <h2>4. What does "valar morghulis" mean? </h2>
    <p>
      <input type="radio" name="q4A" value="ia1">"All men must serve"<BR>
      <input type="radio" name="q4A" value="answer">"All men must die"<BR>
      <input type="radio" name="q4A" value="ia2">"All men must eat"<BR>
      <input type="radio" name="q4A" value="ia3">"All men must fight"<BR>
    </p>

  <h2>5. What does Ramsay name Eon Greyjoy after torturing him?</h2>
    <p>
      <input type="radio" name="q5A" value="ia1">Whiff<BR>
      <input type="radio" name="q5A" value="ia2">Greyworm<BR>
      <input type="radio" name="q5A" value="answer">Reek<BR>
      <input type="radio" name="q5A" value="ia3">Littlefinger<BR>
    </p>

  <h2>6. Which king died during the red wedding? </h2>
    <p>
      <input type="radio" name="q6A" value="answer">King Robb Stark <BR>
      <input type="radio" name="q6A" value="ia1">King Joffrey Baratheon<BR>
      <input type="radio" name="q6A" value="ia2">King Renly Baratheon<BR>
      <input type="radio" name="q6A" value="ia3">The Mad King<BR>
    </p>
  <h2>7. Who got infected with greyscale through an infected doll?</h2>
    <p>
      <input type="radio" name="q7A" value="ia1">King Tommen<BR>
      <input type="radio" name="q7A" value="ia2">Jorah Mormont<BR>
      <input type="radio" name="q7A" value="ia3">Tyrion Lannister<BR>
      <input type="radio" name="q7A" value="answer">Princess Shireen Baratheon<BR>
    </p>

  <h2>8. Who is behind The Wall along the northern border of the Seven Kingdoms?</h2>
    <p>
      <input type="radio" name="q8A" value="ia1">The wildlings<BR>
      <input type="radio" name="q8A" value="answer">The Army of the Dead<BR>
      <input type="radio" name="q8A" value="ia2">The Night's Watch<BR>
      <input type="radio" name="q8A" value="ia3">The Three-Eyed Raven<BR>
    </p>

  <h2>9. Who is the current King in the North?</h2>
    <p>
      <input type="radio" name="q9A" value="answer">Jon Snow<BR>
      <input type="radio" name="q9A" value="ia1">The Night King<BR>
      <input type="radio" name="q9A" value="ia2">Euron Greyjoy<BR>
      <input type="radio" name="q9A" value="ia3">Tormund<BR>
    </p>
  <h2>10. The first season ends with Daenerys "giving birth" to what?</h2>
    <p>
      <input type="radio" name="q10A" value="ia1">A New Khalasar<BR>
      <input type="radio" name="q10A" value="ia2">A Reincarnation of Drogo<BR>
      <input type="radio" name="q10A" value="answer">Dragons<BR>
      <input type="radio" name="q10A" value="ia3">Drogo's son<BR>
    </p>

  <br>
  <input type="submit" value="Send Answers!">
  <input type="reset" value="Clear Answers!">

</form>

<embed id = "music" src="resources/Game of Thrones - Main Theme (Extended) HD.mp3" autostart="true" loop="true">

</body>

</html>
