<html>
<head>
  <title> Harry Potter Quiz </title>
  <link rel="stylesheet" href="/resources/quizSports.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Marvel" /><link rel='stylesheet' href='//fonts.googleapis.com/css?family=Marvel' type='text/css' />
</head>

<body>
  <div id = "parent">
    <div id = "logo">
      <a href= "/"><img src="resources/PicsArt.png" width="50" height="50"/></a>
    </div>
    <h1> Harry Potter Quiz </h1>
  </div>

    <form id = "inside_text"method="post">

    <h2>1. What is the name of the troublesome poltergeist in Hogwarts? (Don't think of the movies)</h2>
      <p>
        <input type="radio" name="q1A" value="vulture">Argus Filch<BR>
        <input type="radio" name="q1A" value="answer">Peeves<BR>
        <input type="radio" name="q1A" value="sandman">The Bloody Baron<BR>
        <input type="radio" name="q1A" value="chameleon">Mrs. Norris<BR>
      </p>

    <h2>2. What were the Three Deathly Hallows?</h2>
      <p>
        <input type="radio" name="q2A" value="answer">A wand, a stone, and a cloak<BR>
        <input type="radio" name="q2A" value="parents">A hat, a cloak, and a wand<BR>
        <input type="radio" name="q2A" value="aa">A wand, a watch, and a stone<BR>
        <input type="radio" name="q2A" value="sb">A watch, a stone, and an umbrella<BR>
      </p>

    <h2>3. Who is the Half-Blood Prince?</h2>
      <p>
        <input type="radio" name="q3A" value="luke">Harry Potter<BR>
        <input type="radio" name="q3A" value="dare">Draco Malfoy<BR>
        <input type="radio" name="q3A" value="answer">Severus Snape<BR>
        <input type="radio" name="q3A" value="ca">Albus Dumbledore<BR>
      </p>
    <h2>4. What is Lord Voldemort's true name?</h2>
      <p>
        <input type="radio" name="q4A" value="answer">Tom Marvolo Riddle<BR>
        <input type="radio" name="q4A" value="random">Gormlaith Gaunt<BR>
        <input type="radio" name="q4A" value="nope">Salazar Slytherin<BR>
        <input type="radio" name="q4A" value="no">Marvolo Gaunt<BR>
      </p>

    <h2>5. Where is the Chamber of Secrets found?</h2>
      <p>
        <input type="radio" name="q5A" value="rj">The Boathouse<BR>
        <input type="radio" name="q5A" value="parents">The Slytherin Common Room<BR>
        <input type="radio" name="q5A" value="clone">The Dungeons<BR>
        <input type="radio" name="q5A" value="answer">The Second Floor Bathroom<BR>
      </p>

    <h2>6. Who killed Dumbledore?</h2>
      <p>
        <input type="radio" name="q6A" value="hp">Draco Malfoy<BR>
        <input type="radio" name="q6A" value="sm">Voldemort<BR>
        <input type="radio" name="q6A" value="answer">Severus Snape<BR>
        <input type="radio" name="q6A" value="wasp">Lucius Malfoy<BR>
      </p>
    <h2>7. Who told the prophecy of the Boy Who Lived?</h2>
      <p>
        <input type="radio" name="q7A" value="r">Luna Lovegood<BR>
        <input type="radio" name="q7A" value="answer">Sybill Trelawney <BR>
        <input type="radio" name="q7A" value="scredriver">Nymphadora Tonks<BR>
        <input type="radio" name="q7A" value="rand">Minerva McGonagall<BR>
      </p>

    <h2>8. How many Horcruxes did Voldemort make?</h2>
      <p>
        <input type="radio" name="q8A" value="spider">6<BR>
        <input type="radio" name="q8A" value="answer">7<BR>
        <input type="radio" name="q8A" value="aa">10<BR>
        <input type="radio" name="q8A" value="sb">3<BR>
      </p>

    <h2>9. Who lied for Harry at the Final Battle when he "died?"</h2>
      <p>
        <input type="radio" name="q9A" value="luke">Lily Potter<BR>
        <input type="radio" name="q9A" value="dar">Hermione Granger<BR>
        <input type="radio" name="q9A" value="avengers">Neville Longbottom<BR>
        <input type="radio" name="q9A" value="answer">Narcissa Malfoy<BR>
      </p>
    <h2>10. Who betrayed Lily and James Potter to Voldemort?</h2>
      <p>
        <input type="radio" name="q10A" value="stuff">Severus Snape<BR>
        <input type="radio" name="q10A" value="dead">Remus Lupin<BR>
        <input type="radio" name="q10A" value="answer">Peter Pettigrew<BR>
        <input type="radio" name="q10A" value="ca">Sirius Black<BR>
      </p>

    <br>
    <input type="submit" value="Send Answers!">
    <input type="reset" value="Clear Answers!">
    <!-- <button type="button" onclick="https://www.youtube.com/watch?v=PQp2a_yunmM" value = "Go back!">Go back! </button> -->

    </form>

<embed id = "music" src="resources/Harry Potter Theme Song.mp3" autostart="true" loop="true">

</body>

</html>
